.section {
    padding: 4rem 8%;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.list {
   list-style-type: disc;
    list-style-position: inside;
    margin-top: 0.75rem;
    padding-left: 0;
}

.listItem {
    margin: 0.5rem 0;
}

.card {
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 2px rgba(2, 6, 23, 0.04);

    &:hover {
        transform: translateY(-6px);
    }
}

/* dark theme adjustments */
[data-theme="dark"] .card {
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 10px 30px -15px #d9dbdf;
    border: 1px solid hsla(0, 0%, 83%, .397);
}
