/* making dark as the default screen so appliing dark style to root html */

:root {
  --bg: #020617;
  --text: #e5e7eb;
  --mobile-close-color: #e5e7eb;
   --primary: #6366f1;
}

[data-theme="light"] {
  --bg: #ffffff;
  --text: #0f172a;
  --mobile-close-color: #111827;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
  transition: background 0.3s, color 0.3s;
}

/* Global link styles */
a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
  }

  &:hover:after {
    width: 100%;
  }
}
