.contact {
    padding: 4rem 8%;
    text-align: center;
    background: rgba(0, 0, 0, 0.02);
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact p {
    opacity: 0.8;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.items {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    padding: 0.7rem 1.2rem;
    border-radius: 999px;
    background: rgba(0, 0, 0, 0.05);

    i {
        font-size: 1.2rem;
    }

    &:hover {
        transform: translateY(-2px);
        background: rgba(0, 0, 0, 0.08);
    }
}

[data-theme="dark"] .item {
    &:hover {
        box-shadow: 0 10px 30px -15px #d9dbdf;
        border: 1px solid hsla(0, 0%, 83%, .397);
    }
}